#searchIcon:hover {
  opacity: 0.5;
}

#dealershipPopup {
  overflow: hidden !important;
  white-space: nowrap;
  margin: auto;
  background: white;
  width: 250px;
  /* height: 65px; */
  display: flex;
  align-items: center;
}

.mapButtonsContainer {
  width: fit-content;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  animation-name: hoverEffect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
  position: absolute;
  z-index: 1;
}
 
.visitDealerSite :visited{
  color: black;
}

.mapButtons {
  width: fit-content;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: gray;
  background-color: white;
  opacity: 1;
  display: flex;
  border-radius: 5px;
}

#mapButtonsContainer :hover{
  background: rgb(66, 66, 66);
}
 
#testParent {
  width: 80vw;
  height: 500px;
  background: gainsboro;
}

@keyframes hoverEffect {
  0% {
    box-shadow: 1px 1px 10px bisque;
    opacity: 1;
  }

  100% {
    box-shadow: 1px 1px 35px gray;
    opacity: 0.9;
  }
}
